[user]
	name = bagel897
	email = ellenagarwal897@gmail.com	
	signingkey = /home/bagel897/.ssh/id_ed25519_sk.pub
[core]
	autocrlf = input    
	pager = delta
	editor = nvim
{{if or (eq .chezmoi.hostname "Bagel-Max") (eq .chezmoi.hostname "bagel-mini-fedora") (eq .chezmoi.hostname "Bagel-Mini")}}
[commit]
	gpgSign =false 
{{end}}
[color]
	ui = auto
[init]
	defaultBranch = main
[status]
	submoduleSummary = true
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    external = difft
    colorMoved = default
[push]
    autoSetupRemote = true
[credential]
    helper = /usr/lib/git-core/git-credential-libsecret
[credential "https://github.com"]
       helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
       helper = !/usr/bin/gh auth git-credential
[gpg]
	format = ssh
