[user]
	name = bageljr
	email = bageljr897@protonmail.com	
	; signingkey = 8E8BF3070C3195D6
[core]
	autocrlf = input    
	pager = delta
; [commit]
; 	gpgSign = true
[color]
	ui = auto
[init]
	defaultBranch = main
[status]
	submoduleSummary = true
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
